AZURE_AI_PROJECT=""
AZURE_AUTH_TENANT_ID=""
AZURE_CHAT_HISTORY_CONTAINER="chat-history-v2"
AZURE_CHAT_HISTORY_DATABASE="chat-database"
AZURE_CHAT_HISTORY_VERSION="cosmosdb-v2"
AZURE_CLIENT_APP_ID=""
AZURE_CLIENT_APP_SECRET=""
AZURE_CONTAINER_REGISTRY_ENDPOINT=""
AZURE_CONTENTUNDERSTANDING_ENDPOINT=""
AZURE_COSMOSDB_ACCOUNT=""
AZURE_COSMOSDB_LOCATION="canadacentral"
AZURE_DISABLE_APP_SERVICES_AUTHENTICATION="false"
AZURE_DOCUMENTINTELLIGENCE_RESOURCE_GROUP="rg-testcalgary"
AZURE_DOCUMENTINTELLIGENCE_SERVICE=""
AZURE_ENABLE_GLOBAL_DOCUMENT_ACCESS="false"
AZURE_ENABLE_UNAUTHENTICATED_ACCESS="true"
AZURE_ENFORCE_ACCESS_CONTROL="false"
AZURE_ENV_NAME="testcalgary"
AZURE_LOCATION="canadaeast"
AZURE_OPENAI_API_VERSION=""
AZURE_OPENAI_CHATGPT_DEPLOYMENT="gpt-4.1-mini"
AZURE_OPENAI_CHATGPT_DEPLOYMENT_SKU="GlobalStandard"
AZURE_OPENAI_CHATGPT_DEPLOYMENT_VERSION="2025-04-14"
AZURE_OPENAI_CHATGPT_MODEL="gpt-4.1-mini"
AZURE_OPENAI_EMB_DEPLOYMENT="text-embedding-3-large"
AZURE_OPENAI_EMB_DEPLOYMENT_SKU="GlobalStandard"
AZURE_OPENAI_EMB_DEPLOYMENT_VERSION=1
AZURE_OPENAI_EMB_DIMENSIONS=3072
AZURE_OPENAI_EMB_MODEL_NAME="text-embedding-3-large"
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_EVAL_DEPLOYMENT=""
AZURE_OPENAI_EVAL_DEPLOYMENT_SKU=""
AZURE_OPENAI_EVAL_DEPLOYMENT_VERSION=""
AZURE_OPENAI_EVAL_MODEL=""
AZURE_OPENAI_GPT4V_DEPLOYMENT=""
AZURE_OPENAI_GPT4V_DEPLOYMENT_SKU=""
AZURE_OPENAI_GPT4V_DEPLOYMENT_VERSION=""
AZURE_OPENAI_GPT4V_MODEL="gpt-4o"
AZURE_OPENAI_REASONING_EFFORT="medium"
AZURE_OPENAI_RESOURCE_GROUP="rg-testcalgary"
AZURE_OPENAI_SEARCHAGENT_DEPLOYMENT=""
AZURE_OPENAI_SEARCHAGENT_MODEL=""
AZURE_OPENAI_SERVICE=""
AZURE_PERMIT_APPLICATIONS_CONTAINER="applications"
AZURE_PERMIT_APPLICATIONS_DATABASE="permits"
AZURE_RESOURCE_GROUP="rg-testcalgary"
AZURE_SEARCH_AGENT=""
AZURE_SEARCH_FIELD_NAME_EMBEDDING="embedding3"
AZURE_SEARCH_INDEX="gptkbindex"
AZURE_SEARCH_SEMANTIC_RANKER="free"
AZURE_SEARCH_SERVICE=""
AZURE_SEARCH_SERVICE_ASSIGNED_USERID=""
AZURE_SEARCH_SERVICE_RESOURCE_GROUP="rg-testcalgary"
AZURE_SERVER_APP_ID=""
AZURE_SERVER_APP_SECRET=""
AZURE_SPEECH_SERVICE_ID=""
AZURE_SPEECH_SERVICE_LOCATION=""
AZURE_SPEECH_SERVICE_VOICE="en-US-AndrewMultilingualNeural"
AZURE_STORAGE_ACCOUNT=""
AZURE_STORAGE_CONTAINER="content"
AZURE_STORAGE_RESOURCE_GROUP="rg-testcalgary"
AZURE_SUBSCRIPTION_ID=""
AZURE_TENANT_ID=""
AZURE_USERSTORAGE_ACCOUNT=""
AZURE_USERSTORAGE_CONTAINER="user-content"
AZURE_USERSTORAGE_RESOURCE_GROUP="rg-testcalgary"
AZURE_USE_AUTHENTICATION="true"
AZURE_VISION_ENDPOINT=""
BACKEND_URI=""
DEPLOYMENT_TARGET="appservice"
OPENAI_HOST="azure"
SERVICE_BACKEND_IMAGE_NAME=""
SERVICE_BACKEND_RESOURCE_EXISTS="true"
USE_CHAT_HISTORY_BROWSER="true"
USE_CHAT_HISTORY_COSMOS="true"
USE_PERMIT_APPLICATIONS_COSMOS="true"
USE_SPEECH_INPUT_BROWSER="true"
USE_SPEECH_OUTPUT_AZURE="false"
USE_SPEECH_OUTPUT_BROWSER="true"
